.repository-all {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: #d1d5da 1px solid;
    max-width: 715px;
    width: 100%;
}

.book {
    margin-right: 10px;
    margin-top: 25px;
}

.repository {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repository a {
    color: #0366d6;
}

.full-name {
    margin-top: 20px;
}

.description {
    margin-bottom: 10px;
    color: #24292e;
}

.info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    color: #586069;
    margin-bottom: 10px;
}

.another-info {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.another-info a {
    margin-left: 16px;
}

.star {
    margin-right: 5px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
}
